<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_icon"
        android:label="Atom Dashboard"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/theme">

        <receiver
            android:name=".dashboard.widgets.ShortWidgetProvider"
            android:exported="false"
            android:label="Shortcut">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/short_widget_info" />
        </receiver>

        <receiver
            android:name=".dashboard.widgets.ButtonWidgetProvider"
            android:exported="false"
            android:label="Button">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/button_widget_info" />
        </receiver>

        <receiver
            android:name=".dashboard.widgets.SwitchWidgetProvider"
            android:exported="false"
            android:label="Switch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/switch_widget_info" />
        </receiver>

        <activity
            android:name="com.alteratom.dashboard.activities.fragments.widgets.ButtonWidgetActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alteratom.dashboard.activities.fragments.widgets.ShortWidgetActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alteratom.dashboard.activities.fragments.widgets.SwitchWidgetActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dashboard.activities.SetupActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboard.activities.MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".dashboard.foreground_service.ForegroundService"
            android:enabled="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>