<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netDashboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.dashboard.properties.PropertiesActivity" />
        <activity android:name=".activities.dashboard.DashboardActivity" />
        <activity android:name=".activities.dashboard.tile_new.TileNewActivity" />
        <activity android:name=".activities.dashboard.tile_properties.TilePropertiesActivity" />

        <service
            android:name=".foreground_service.ForegroundService"
            android:enabled="true" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>