<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_icon"
        android:label="Atom Dashboard"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/theme"
        tools:targetApi="s">

        <activity
            android:name=".dashboard.activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".dashboard.activity.PayActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".dashboard.ForegroundService"
            android:enabled="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Foreground service to keep persistent connection with data sources. Depending on dashboard type it might be various devices. Right now only one dashboard type is supported - MQTT.
                Thus right now it is meant to allow persistent communication with MQTT servers. This is used only when user disables the battery optimization for the app and enables background work in the app settings." />
        </service>
    </application>

</manifest>